
__pycache__/plotting_TF.cpython-39.pyc
*.pyc
Training/Scenes/scene3/.DS_Store
Training/Scenes/scene2/Images/.DS_Store
Training/Scenes/scene2/.DS_Store
Training/Scenes/scene1/Images/.DS_Store
Training/Scenes/scene1/Depths/.DS_Store
Training/Scenes/scene1/.DS_Store
Training/Scenes/.DS_Store
.DS_Store
